.taxa {
	    /*position: relative;*/
	   height: 100%;
	background-color: white;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity .5s
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active in below version 2.1.8 */

{
	opacity: 0
}

.slide-img img {
	margin-top: 2rem;
	width: 100%;
}

.slide-box .Package {
	background-color: white;
	/*padding-top: 6rem;
	padding-bottom: 6rem;*/
}

/*.slide {
	position: relative;
	background-color: white;
}*/


/*滑动上键*/

.slide .slide-top {
	position: absolute;
	left: 50%;
	margin-left: -2rem;
	font-size: 4rem;
	opacity: 0.5;
	top: 0;
}


/*滑动下键*/

.slide .slide-bottom {
	position: absolute;
	left: 50%;
	margin-left: -2rem;
	font-size: 4rem;
	opacity: 0.5;
	bottom: 0;
	top: inherit;
}

/*#app,
.slide-wrapper,
.slide {
	height: initial;
}*/

.slide-wrapper {
	height: 100%;
	background: white;
}
