@charset "utf-8";
/*linjiabin css*/

image{border:none;}
li{list-style:none;}
input,seect,textarea{outline:none;}
textarea{resize:none;}
a{text-decoration:none}
.clearfix:after{content:"";display:block;clear:both}
.clearfix{zoom:1;}
.winbox-bg{ background-color:#454545; opacity:0.7; position:fixed; top:0px; height:100%; width:100%; z-index:200;display:block;}
.ljb-pop{}
.ljb-pop .title{ text-align:center; background-color: rgb(255, 112, 69); font-size:1.6rem; color:#FFF; padding:1.2rem 0rem;}
.ljb-pop .content{ padding:0 1.2rem; background-color:#FFF;}
.ljb-pop .content .phone{ border-bottom:0.1rem solid #e3e3e3; padding-top:0.2rem; position:relative;}
.ljb-pop .content .phone i{ position:absolute; top:2rem;font-size:1.9rem;color:#878787;left:0.6rem;}
.ljb-pop .content .code i{ position:absolute; top:1.9rem; font-size:1.9rem;color:#878787; left:0.6rem;}
.ljb-pop .content .phone input{ color:#878787; border:0rem; text-indent:4rem;padding:2rem 0rem 1.6rem; width:100%;}
.ljb-pop .content .code{ position:relative;}
.ljb-pop .content .code input{ padding:2rem 0rem 1.6rem; border-top:0rem; border-left:0rem;border-right:0rem;border-bottom:0.1rem solid #e3e3e3;text-indent:4rem; width:60%; color:#878787;}
.ljb-pop .content .code a,.ljb-pop .content .btn a{ display:inline-block; color:#FFF; text-decoration:none; background-color:#ff7045; width:10rem; height:3rem; text-align:center; line-height:3rem; border-radius:0.4rem; }
.ljb-pop .content .code a{margin-left:0.8rem;}
.ljb-pop .content .btn{padding:2rem 0rem 1.6rem;}
.ljb-pop .content .btn a{ width:100%;}
.ljb-login .login-avatar,.ljb-login .login-avatar01{ background-color:#fc8968; padding:0.8rem 2rem; margin:0.6rem 0rem; }
.ljb-login .login-avatar{position:relative;}
.ljb-login .login-avatar li,.ljb-login .login-avatar01 li{ float:left;}
.ljb-login .login-avatar img,.ljb-login .login-avatar01 img{ width:4rem; height:4rem; border-radius:50%;}
.ljb-login .login-avatar .iconn01{ position:absolute; right:1rem; top:1.6rem;}
.ljb-login .login-avatar01 a{ display:inline-block; width:7rem; border:0.1rem solid #ffffff; height:2.4rem; border-radius:0.3rem; color:#ffffff; text-align:center; line-height:2.4rem; margin:1rem 1.4rem 0rem;}
.ljb-login .login-avatar .name,.ljb-login .login-avatar01 .name{ color:#FFF; line-height:2rem; padding-left:1rem;}
.ljb-login .order{ border-left:0.5rem solid #ff7045; padding:0.8rem 1rem; color:#707070; border-bottom:0.1rem solid #e3e3e3; position:relative; background-color:#FFF;}
.ljb-login .order .all a{color:#707070; position: absolute; right:1rem; top:0.8rem;}
.ljb-login .function{ padding:1.2rem 0rem; background-color:#FFF;}
.ljb-login .function li{ float:left; width:25%;text-align:center;}
.ljb-login .function li i{ color:#707070; font-size:2.6rem;}
.ljb-login .function li a{ color:#707070; line-height:2.2rem;}
.ljb-login .list01,.ljb-login .list02,.ljb-login .list03,.ljb-login .list04,.ljb-login .list05{padding:1rem 1.5rem; background-color:#FFF;border-bottom:0.1rem solid #e3e3e3; position:relative;}
.ljb-login .list01{ margin:0.6rem 0rem; color:#e51c23; }
.ljb-login .list05{padding:0.8rem 1.5rem; background-color:#FFF; position:relative; margin:1.4rem 0rem;}
.ljb-login .list02,.ljb-login .list03,.ljb-login .list04,.ljb-login .list05{ color:#707070;}
.ljb-login .list01 .iconn,.ljb-login .list02 .iconn,.ljb-login .list03 .iconn,.ljb-login .list04 .iconn,.ljb-login .list05 .iconn{ position:absolute; right:1rem; color:#707070;}
.ljb-login .list01 span,.ljb-login .list02 span,.ljb-login .list03 span,.ljb-login .list04 span,.ljb-login .list05 span{ padding-left:0.6rem;}
.ljb-backlog,.ljb-evolve,.ljb-progress{ text-align:center; background-color:#ff7045; color:#FFF; font-size:1.6rem; position:relative; padding:1.2rem 0rem;}
.ljb-backlog .iconn03,.ljb-evolve .iconn03,.ljb-progress .iconn03{ position:absolute; left:1rem; top:1.6rem;}
.ljb-progress .iconn003{ position:absolute; right:1rem; top:1rem;}
.ljb-backlog .iconn03 a,.ljb-evolve .iconn03 a,.ljb-progress .iconn03 a{ color:#FFF;}
.backlog01,.backlog02{ margin-top:1rem; background-color:#FFF; position:relative;}
.backlog02{border-bottom:0.1rem solid #e3e3e3;border-top:0.1rem solid #e3e3e3;}
.backlog01 .p1,.backlog02 .p1{ color:#878787; border-left:1rem solid #ff7045; padding:1rem;}
.backlog01 .p2,.backlog02 .p2{ color:#ff7043; padding-left:2.6rem;}
.backlog02 .p2{ padding-bottom:1rem;}
.backlog01 .p3,.backlog02 .p3{ color:#919191; padding:1rem 0rem 1.4rem 2.6rem; font-size:1.2rem;}
.backlog01 .iconn04{ position:absolute; right:1.6rem; top:3.6rem;}
.backlog02 .iconn04{ position:absolute; right:1.6rem; top:1rem; color:#878787;}
.ljb-confirm{ text-align:center; background-color:#ff7045; color:#FFF; font-size:1.6rem; position:relative; padding:1.2rem 0rem;}
.ljb-confirm .iconn03{ position:absolute; left:1rem; top:1.6rem;}
.ljb-confirm .iconn03 a{ color:#FFF;}
.backlog03{ background-color:#FFF; padding-left:2.6rem; border-bottom:0.1rem solid #e3e3e3; margin-top:0.4rem;}
.backlog03 li{ border-bottom:0.1rem solid #e3e3e3; padding:1rem 0rem;}
.backlog03 li span{ color:#acacac;}
.backlog03 li input{ border:0rem; text-indent:0.4rem;}
.backlog03 li:nth-of-type(4){ border:0rem;}
.backlog04{ background-color:#ffcb8c; padding:1.2rem 0rem 1.2rem 2.6rem; color:#737373; margin-top:0.2rem;}
.backlog04 span{ color:#212121; font-size:2.6rem; padding-left:2rem;}
.backlog05,.ljb-wrap01{ background-color:#FFF; padding:1rem 1.8rem 0rem;}
.ljb-wrap01{ padding-bottom:2rem;}
.backlog05 .list01 li,.ljb-wrap01 .list01 li{ float:left; width:49%; border-bottom:0.1rem dotted #e3e3e3; padding:1rem 0rem;}
.backlog05 .list01 li:nth-of-type(1),.ljb-wrap01 .list01 li:nth-of-type(1){border-right:0.1rem dotted #e3e3e3;}
.backlog05 .list01 li .text,.backlog05 .list01 li .text01,.ljb-wrap01 .list01 li .text,.ljb-wrap01 .list01 li .text01{ color:#acacac; padding-left:1rem;}
.ljb-wrap01 .list01 li .text{ line-height:2rem;}
.backlog05 .list01 li .text span,.ljb-wrap01 .list01 li .text span{ color:#ff5b28; font-size:1.6rem;}
.backlog05 .list01 li .text span{padding-left:0.6rem;}
.backlog05 .list01 li .text01 span,.ljb-wrap01 .list01 li .text01 span{ color:#ff5b28; font-size:1.6rem; padding-left:0.2rem;}
.backlog06{ padding:1.2rem 1.6rem;}
.backlog06 .btn01 a{background-color:#ff7045; margin-bottom:1rem;}
.backlog06 .btn02 a{background-color:#cfcfcf; color:#757575;}
.backlog06 a{ width:100%; height:4rem;  display:inline-block; color:#FFF; text-align:center; line-height:4rem; border-radius:0.3rem; font-size:1.6rem;}
.ljb-select,.ljb-product{color:#a8a8a8; border-left:0.8rem solid #ff7045; padding:0.6rem; margin-top:0.6rem;}
.sel-company{ background-color:#FFF; color:#707070; padding:1rem 0rem 1rem 1.8rem; position:relative;}
.sel-company span{ padding-left:0.6rem;}
.sel-company .iconn05{ position:absolute; right:1rem; top:1.1rem;}
.ljb-bg{background-color:#FFF;}
.product,.product01{ border-bottom:0.1rem solid #e3e3e3; padding:1rem 0rem 1rem; margin-left:5rem; position:relative;}
.product02{ padding:1rem 0rem 1rem; margin-left:5rem; position:relative;}
.product .list-01,.product01 .list-01,.product02 .list-01{ color:#FFF;  width:4rem; height:4rem; border-radius:50%; text-align:center; line-height:4rem; position:absolute; left:-4rem; top:1rem;}
.product .list-01,.product02 .list-01{background-color:#ffa726;}
.product01 .list-01{background-color:#2baf2b;}
.product .list-02,.product01 .list-02,.product02 .list-02{ color:#595959; line-height:2rem; padding-left:1rem; }
.product .list-02 span,.product01 .list-02 span{ color:#999999;}
.product .list-03 a,.product01 .list-03 a,.product02 .list-03 a{ color:#ff7c53; width:6rem; height:2rem; border:0.1rem solid #ffbda8; display:inline-block; text-align:center; line-height:2rem; border-radius:0.3rem; position:absolute; right:1rem; top:2.2rem;}
.ljb-content{ background-color:#FFF; color:#707070; padding:0.8rem 0rem 0.8rem 1rem;}
.ljb-content li{ float:left;}
.ljb-content .li01{ border-right:0.1rem dotted #a1a1a1; padding:0.4rem 0.8rem 0.4rem 0.6rem;}
.ljb-content .li02{ background-color:#ffa726; width:3.2rem; height:3.2rem; border-radius:50%; color:#FFF; text-align:center; line-height:3.2rem; margin:0.4rem 0.8rem;}
.ljb-content .li03{ line-height:1.6rem; padding-top:0.4rem;}
.ljb-content .li03 span{ color:#999999;}
.progress01{ margin-top:0.3rem; background-color:#FFF; display:flex; padding:1.6rem 0rem 1.3rem;}
.progress01 li{ flex:1; text-align:center; line-height:3rem;}
.progress01 .step01,.progress01 .step02,.progress01 .step03{ width:6rem; height:6rem; border-radius:50%; color:#FFF; text-align:center; line-height:6rem; display:inline-block;}
.progress01 li span{ color:#b5b5b5;}
.progress01 .step01{background-color:#2baf2b;}
.progress01 .step02{background-color:#ffba52;}
.progress01 .step03{background-color:#949494;}
.progress01 .list001,.progress01 .list002{position:relative;}
.progress01 .icon01,.progress01 .icon02{ position:absolute; top:1.4rem; left:80%; margin-left:0.6rem;}
.progress01 .triangle{ width:0; height:0rem; border-left:1rem solid transparent;border-right:1rem solid transparent;border-bottom:1.4rem solid #ffbf70; position:absolute; botoom:-4rem; left:50%; margin-left:-1rem;}
.ljb-wrap{ background-color:#ffbf70; padding:1rem 0rem 1rem 1.4rem; color:#737373; line-height:2.4rem;}
.ljb-wrap span{ color:#212121; font-size:2.2rem;}
.institution{ padding:2rem 0rem; border-bottom:0.1rem solid #e8e8e8;}
.institution .title01{ color:#555555; font-size:2rem; border-left:0.4rem solid #fe7e11; padding-left:0.8rem; font-weight:bold;}
.institution .title01 span{ color:#fe7e11;font-size:2rem;}
.institution01,.institution02{border-bottom:0.1rem solid #e8e8e8; position:relative;}
.institution01 .data,.institution02 .data01{ margin-left:36%;}
.institution01 .sign,.institution02 .sign01{ color:#FFF; width:6rem; height:6rem; text-align:center; border-radius:50%; line-height:1.6rem;}
.institution01 .sign{background-color:#cacaca;position:absolute; left:8%; top:1.2rem; margin-left:0.1rem;}
.institution02 .sign01{ background-color:#ff7f12; margin-left:0.8rem;}
.institution02 .wrap01{ width:9rem; position:absolute; left:5%; top:1.2rem; margin-left:0.1rem;}
@media screen and (max-width: 320px) {
    .institution01 .sign{background-color:#cacaca;position:absolute; left:5%; top:1.2rem; margin-left:0.1rem;}
    .institution02 .wrap01{ width:7rem; position:absolute; left:3%; top:1.2rem; margin-left:0.1rem;}
    .institution02 .sign01{ background-color:#ff7f12; margin-left:0.8rem;}
    .ljb-gather{ margin-left:4%; padding-left:0.2rem; padding-top:1.6rem; color:#555555;}
}
@media screen and (min-width: 768px) {
    .institution01 .sign{background-color:#cacaca;position:absolute; left:10%; top:2rem; margin-left:0.1rem;}
    .institution02 .wrap01{ width:10rem; position:absolute; left:8%; top:2rem;}
    .institution02 .sign01{ background-color:#ff7f12; margin-left:1.6rem;}
    .ljb-gather{ margin-left:10%; padding-left:2.2rem; padding-top:1.6rem; color:#555555;}
}
.institution02 .wrap01 .text02{ color:#999999; padding-top:0.6rem;}
.institution01 .sign .p01,.institution02 .sign01 .p01{ padding-top:1.2rem;}
.institution01 .sign span,.institution02 .sign01 span{ font-size:2rem;}
.institution01 .data li span,.institution02 .data01 li span{ padding-left:20%;}
.institution01 .data li:nth-of-type(1),.institution02 .data01 li:nth-of-type(1){ border-bottom:0.1rem solid #e8e8e8; padding:1rem 0.4rem; color:#999999;}
.institution01 .data li:nth-of-type(2),.institution02 .data01 li:nth-of-type(2){ padding:1rem 0rem 0.4rem 0.4rem; color:#555555;}
.institution01 .data li:nth-of-type(3),.institution01 .data li:nth-of-type(4),.institution01 .data li:nth-of-type(5),.institution02 .data01 li:nth-of-type(3),.institution02 .data01 li:nth-of-type(4),.institution02 .data01 li:nth-of-type(5){padding:0rem 0rem 0.4rem 0.4rem; color:#555555;}
.institution01 .data li:nth-of-type(6),.institution02 .data01 li:nth-of-type(6){ border-bottom:0.1rem solid #e8e8e8;padding:0rem 0rem 0.6rem 0.4rem; color:#555555;}
.institution01 .data li:nth-of-type(7),.institution02 .data01 li:nth-of-type(7){padding:0.8rem 0.4rem; color:#ff8013;}
.institution01 .data li:nth-of-type(1) span,.institution02 .data01 li:nth-of-type(1) span{ margin-left:1.2rem;}
.institution01 .data li:nth-of-type(3) span,.institution02 .data01 li:nth-of-type(3) span{ margin-left:-1.2rem;}
.institution01 .data li:nth-of-type(4) span,.institution02 .data01 li:nth-of-type(4) span{ margin-left:-1.2rem;}
.institution01 .data li:nth-of-type(6) span,.institution02 .data01 li:nth-of-type(6) span{ margin-left:-3.6rem;}
.institution01 .data li:nth-of-type(7) span,.institution02 .data01 li:nth-of-type(7) span{ margin-left:1.1rem;}
.ljb-gather{ margin-left:3%; padding-left:0.6rem; padding-top:1.6rem; color:#555555;}
.ljb-gather span{ color:#fe8115; font-size:1.8rem;}
.Package{ padding:1.6rem 1rem 0rem 1rem;}
.Package h1{ font-size:2rem; color:#555555; text-align:center;}
.Package01,.Package02,.Package03,.Package04,.Package05{  padding-top:1rem; position:relative; }
.Package01{border:0.1rem solid #fd8e3c;margin-top:2rem;}
.Package02{ border:0.1rem solid #3aa9fb; margin-top:1rem;}
.Package03{ border:0.1rem solid #ae58f7; margin-top:1rem;}
.Package04{ border:0.1rem solid #ff679f; margin-top:1rem;}
.Package05{ border:0.1rem solid #fa5b58; margin-top:1rem;}
.Package01 .l-aside,.Package02 .l-aside01,.Package03 .l-aside02,.Package04 .l-aside03,.Package05 .l-aside04{ padding:1.6rem 1rem 1rem; display:inline-block; margin-top:-1rem; color:#FFF;}
.Package01 .l-aside{background-color:#fd8e3d;}
.Package02 .l-aside01{background-color:#3aa9fb;}
.Package03 .l-aside02{background-color:#ae58f7;}
.Package04 .l-aside03{background-color:#ff679f;}
.Package05 .l-aside04{background-color:#fa5b58;}
.Package01 .l-aside .p001,.Package02 .l-aside01 .p001,.Package03 .l-aside02 .p001,.Package04 .l-aside03 .p001,.Package05 .l-aside04 .p001{ padding-bottom:0.1rem;}
.Package01 .l-aside .p002,.Package02 .l-aside01 .p002,.Package03 .l-aside02 .p002,.Package04 .l-aside03 .p002,.Package05 .l-aside04 .p002{ font-size:1.8rem;}
.Package01 .l-aside .p003,.Package02 .l-aside01 .p003,.Package03 .l-aside02 .p003,.Package04 .l-aside03 .p003,.Package05 .l-aside04 .p003{ padding-top:2rem;}
.Package01 .r-aside,.Package02 .r-aside01,.Package03 .r-aside02,.Package04 .r-aside03,.Package05 .r-aside04{display:inline-block; color:#555555; margin-left:0.6rem;}
.Package01 .r-aside li,.Package02 .r-aside01 li,.Package03 .r-aside02 li,.Package04 .r-aside03 li,.Package05 .r-aside04 li{ padding-bottom:0.4rem;}
.Package01 .r-aside li:before,.Package02 .r-aside01 li:before,.Package03 .r-aside02 li:before,.Package04 .r-aside03 li:before,.Package05 .r-aside04 li:before{content: "";display: inline-block;width: 0.6rem;height:0.6rem;background-color:#cecece;border-radius: 50%; margin:0rem 0.4rem 0.1rem 0rem;}

/* CSS niezhaojun */
html{
    font-size:62.5%; /* 10÷16=62.5% */
}


body{ background-color: #f1f1f1;font-family: Microsoft YaHei UI;}
*{ padding: 0px; margin: 0px;font-size: 1.5rem; list-style-type: none;}

.Topbox{ background-color: #ffa726; height: 4.2rem; line-height: 4.2rem;}
.toptitle{ background-color: #ff7043;height: 4.2rem; line-height: 4.2rem; text-align: center; color: #fff; font-size: 1.8rem;}
.toptitle .iconfont{ color: #fff; position: absolute; left: 2rem;}

.Topbox .select-city { position: absolute; left:2rem;}
.Topbox .select-city .city{ color: #fff; }
.Topbox .search{ margin-left: 7rem; margin-right: 2rem;}
.Topbox .search .icon{ position: absolute; color: #c4c4c4; font-size: 2rem; margin-left: 1rem;}
.Topbox .search input{ background-color: #fff; border: 1px solid #fff; height: 2.8rem; width: 100%;border-radius: 2px; text-indent: 3rem;}
.banner img{ display: block;}
.box{ background-color: #fff; overflow: hidden; position: relative;padding-bottom:1rem; }
.box .title{ color: #fff;  height: 2.4rem; line-height: 2.4rem; border-radius:3rem;  width: 6rem; margin-left: -3rem; padding-left: 5rem; margin-top: 0.5rem;}
.listPng { padding:1rem 1rem;}
.listPng span{ display: block;}
.listPng li{ width: 25%; float: left;}
.listPng .iconfont{ margin: auto; height: 4rem; width: 4rem; line-height: 4rem; text-align: center; font-size: 3rem; color: #fff; border-radius: 50%;}
.listPng .txt{ text-align: center; line-height: 2rem;}

.listPng .color01{ background-color: #f29f3f;}
.listPng .color02{ background-color: #ff6633;}
.listPng .color03{ background-color: #e87e51;}
.listPng .color04{ background-color: #f2d309;}
.listPng .color05{ background-color: #ab47bc;}
.listPng .color06{ background-color: #4e6cef;}
.listPng .color07{ background-color: #e84e40;}
.listPng .color08{ background-color: #10b5a5;}
.listPng .color05{ background-color: #ed2a25;}
.newBox{ background-color: #fff; padding: 0rem 2rem; }
.newBox ul{background-image: url(../images/jctt.png); background-repeat: no-repeat; background-position: left; background-size:auto 100%; height: 5rem;}
.newBox ul a{ text-decoration: none; color: #343434; display: block; line-height: 1.6rem; margin-left:8rem; padding-top: 0.5rem;}
.newBox ul a:active{  }
.bgcolor01{ background-color: #e72e22;}
.bgcolor02{ background-color: #fb8c00;}
.line{ height: 0.6rem;}
.textlist01{ padding: 1rem 0;}
.textlist01 ul{ width: 50%; float: left; }
.textlist01 ul a{ border-right: 1px solid #f1f1f1; border-bottom: 1px solid #f1f1f1;  display: block; position: relative;text-decoration: none;padding-bottom: 2rem;}
.textlist01 ul a .png{ }
.textlist01 ul a .png img{ width: 5rem;position: absolute;top:0px; right:1rem; }
.textlist01 ul a .text{ padding-left: 2rem; padding-right: 6rem; color: #585858; font-size: 1.2rem;  padding-bottom: 1rem;}
.textlist01 ul a span{ display: block;}
.textlist01 ul a .title{ color: #fb8c00; width: 100%; }
.footmenu{ position: fixed; background-color: #f8f8f8; width: 100%; border-top: 1px solid #cdcdcd; bottom: 0px;}
.footmenu a{ width: 25%; float: left; text-decoration: none; color: #9b9b9b;}
.footmenu span{ text-align: center; display: block;}
.footmenu .iconfont{ font-size: 2.6rem; padding-top:0.8rem;}
.footmenu .menu{ font-size: 1.4rem; line-height: 2.4rem;}
.footmenu .active{ color: #ff5722;}
.piclistbox .edit {  padding: 1rem;}
.piclistbox .edit textarea{ width: 100%; height: 5rem; border: 1px solid #e3e3e3; }
.piclistbox .listbox{ background-color: #fff; position: relative;padding: 1rem 1rem; margin-bottom: 0.5rem;}
.piclistbox .listbox .pic{ position: absolute; height: 6rem; width: 6rem; border-radius: 3px;text-align: center; margin-left: 1rem; }
.piclistbox .listbox .pic span{  display: block;  color: #fff;}
.piclistbox .listbox .pic p{ display: block; text-align: center; font-size: 3rem; color: #fff; padding: 0.4rem 0;}
.piclistbox .listbox .textbox{ margin-left: 8rem;}
.piclistbox .listbox .textbox .title{ color: #ff9800; line-height: 2rem;font-size: 1.6rem;}
.piclistbox .listbox {}
.piclistbox .listbox .textbox .txt{ color:#707070; padding-right:2rem;}
.piclistbox .listbox .textbox .money{ color: #9e9e9e;}
.piclistbox .listbox .textbox strong{ font-size: 1.6rem;}

.ddBox{ background-color: #fff;padding: 0 2rem;}
.ddBox .title { position: relative;}
.ddBox .title a{border-bottom: 1px solid #e3e3e3; line-height:4rem; font-size: 1.6rem; color: #707070; text-decoration: none; display:block;}
.ddBox .title a .iconfont{ position: absolute;right:0px;}
.ddBox .title a:hover{ color: #ff7e30;}
.ddBox .title a:active{ color: #ff7e30;}
.ddBox .txt{ padding: 1rem 0;}
.ddBox .txt .mr{ display: block; border-radius: 3px; border: 1px solid #fb8c00; position: absolute; color: #fb8c00; padding: 0.2rem 0.5rem;}
.ddBox .txt .qy{ display: block; margin-left: 5rem; color: #ababab; line-height:2.4rem;}

.listtxt{ background-color: #fff; padding: 1rem 2rem; }
.listtxt li .left{ color: #707070}
.listtxt li .right{position: absolute; right:0px;}
.listtxt li { border-bottom: 1px solid #e3e3e3; line-height: 3.5rem; position:relative;}
.listtxt li .size{ }
.listtxt li:last-child{border-bottom: 1px solid #fff;}
.listtxt .iconfont{ padding-left: 1rem;}


.footbtn{position: fixed; background-color: #f8f8f8; width: 100%; border-top: 1px solid #cdcdcd; bottom: 0px;}
.footbtn{height:5rem; padding:0 2rem;}
.footbtn li{line-height: 5rem; position: relative;}
.footbtn li a{ text-decoration: none;height:5rem; position:absolute;right:0px; display: block; background-color: #ff7043; width: 50%; top:0px; text-align: center; line-height: 5rem; color: #fff;}
.footbtn li a:hover{ background-color: #fb8c00;}
.footbtn li a:active{ background-color: #fb8c00;}
.footbtn .size{ font-size: 2rem;}

.txtColor01{ color: #ff5722;}
.bgcolor01{ background-color: #fb8c00;}
.bgcolor02{ background-color: #fa4e43;}
.bgcolor03{ background-color: #e87e51;}
.bgcolor04{ background-color: #f2d309;}
.bgcolor05{ background-color: #ab47bc;}
.bgcolor06{ background-color: #4e6cef;}
.bgcolor07{ background-color: #e84e40;}
.bgcolor08{ background-color: #10b5a5;}
.hsBg{background-color: #f1f1f1;}

.fplx{ background-color: #fff; overflow: hidden; padding: 1rem 2rem;}

.fplx .title{ font-size: 1.6rem; color: #707070}
.fplx .list{ padding: 1rem 0;}
.fplx .list li{ width: 33.333333%;  float: left;}
.fplx .list li span{ display: block; position: relative;height: 3rem; line-height: 3rem; text-align: center;border: 1px solid #bdbdbd; margin: 1rem 1rem; border-radius: 4px;}
.fplx .list li span i{position: absolute; right:-3px;top:1rem; display: none; font-size: 2rem;}
.fplx .list li .active { border: 1px solid #fb8c00;}
.fplx .list li .active i{ color: #fb8c00; display: block; }
.fplx .text{ padding: 1rem 0rem;color: #707070; line-height: 2rem;}
.listinput{ background-color: #fff; padding: 1rem 2rem; }
.listinput li .left{ color: #707070;position: absolute; }
.listinput li .input{ display: block; margin-left: 8rem; }
.listinput li .input input{ width: 100%; height: 2.2rem; border: 1px solid #e3e3e3;}
.listinput li { border-bottom: 1px solid #e3e3e3; line-height: 3.5rem; position:relative;}
.listinput li:last-child{border-bottom: 1px solid #fff;}
.listinput .iconfont{ padding-left: 1rem;}
.fpxzbox{ padding: 2rem 2rem;  color: #707070;}
.fpxzbox span{ font-size: 1.6rem; line-height: 3rem;}
.fpxzbox li{ line-height: 2rem;}


.listPng02 { background-color: #fff; overflow: hidden;}
.listPng02 span{ display: block;}
.listPng02 li{ width: 50%; float: left;}
.listPng02 .iconfont{ margin: auto; height: 4rem; width: 4rem; line-height: 4rem; text-align: center; font-size: 3rem; color: #fff; border-radius: 50%;}
.listPng02 .txt{ text-align: center; line-height: 2rem;}
.listPng02 .sm{ text-align: center; display: block; font-size: 1.2rem; color: #707070}

.listPng02 .color01{ background-color: #f29f3f;}
.listPng02 .color02{ background-color: #ff6633;}
.listPng02 .color03{ background-color: #e87e51;}
.listPng02 .color04{ background-color: #f2d309;}
.listPng02 .color05{ background-color: #ab47bc;}
.listPng02 .color06{ background-color: #4e6cef;}
.listPng02 .color07{ background-color: #e84e40;}
.listPng02 .color08{ background-color: #10b5a5;}
.listPng02 .color05{ background-color: #ed2a25;}
.listPng02 a{ color: #474747; height: 10rem; display: block; padding-top: 1rem; border-bottom: 1px solid #f1f1f1;}
.listPng02 a:hover{ background-color: #fffceb;}
.listPng02 li:nth-child(2n+1) a{ border-right:1px solid #f1f1f1;}
.titlebox .title{color: #fff;  height: 2.4rem; line-height: 2.4rem; border-radius:3rem;  width: 6rem; margin-left: -3rem; padding-left: 5rem; margin-top: 0.5rem; margin-bottom: 0.5rem;}
.boxstyle01 { position: relative; padding-bottom: 0px;}
.boxstyle01 .title .reload{ color: #707070; position: absolute; right:2rem;}
.boxstyle01 .title .reload:hover{ color: #fb8c00;}
.boxstyle01 .title .reload .iconfont{ margin-right:0.4rem; font-size: 1.8rem;line-height: 2rem;}


.textlist02{ padding-top: 1rem ;}
.textlist02 ul{ }
.textlist02 ul a{ border-right: 1px solid #f1f1f1; border-bottom: 1px solid #f1f1f1;  display: block; position: relative;text-decoration: none;padding-bottom: 2rem;}
.textlist02 ul a .png{ }
.textlist02 ul a .png img{ width: 7rem;position: absolute;top:0px; left:2rem; }
.textlist02 ul a span{ display: block;}
.textlist02 ul a .text{  margin-left: 10rem; color:#585858; font-size: 1.2rem; color: #707070; }
.textlist02 ul a .title{ color: #707070; width:60%;margin-left:10rem; padding: 0px; padding-right: 14rem; height: auto; line-height: 1.8rem;}


/*商品详情 css*/
.picbox img{ width: 100%; display: block;}
.boxstyle02{padding-top: 1rem; background-color: #fff;}
.boxstyle02 .title{ font-size: 2rem; line-height: 4rem; color: #282828; padding: 0 2rem; }
.boxstyle02 .text{ font-size: 1.2rem; color: #666666; border-bottom: 1px solid #e2e2e2;padding: 0 2rem; padding-bottom: 1rem;}
.boxstyle02 .bottom { padding: 0 2rem; }
.boxstyle02 .bottom .licss01{ border-bottom: 1px solid #e2e2e2; padding: 0.5rem 0rem; line-height: 3rem;}
.boxstyle02 .bottom .licss01 .money{ font-size: 2.4rem; color: #ff5000; margin-right: 3rem;}
.boxstyle02 .bottom .licss01 .fwdq select{background-color: #fafafa; border: 1px solid #e2e2e2; height:2.6rem;}
.boxstyle02 .bottom .licss02{  padding: 0.5rem 0rem; color: #888888;}
.boxstyle02 .bottom .licss02 .iconfont{ color: #f17712;}
.boxstyle02 .bottom .licss02  span{font-size: 1rem; display: inline-block; height: 2.6rem; line-height: 2.6rem;}
.boxstyle03{ background-color: #fff;}
.titlesp { text-align: center; font-size: 2rem; line-height: 5rem; padding-top: 2rem; padding-bottom: 1rem;}
.titlesp span{ display: inline-block; height: 2rem; width: 0.4rem; background-color: #ff801a; margin-top:1.5rem; position: absolute; margin-left: -1.2rem;}
.tablebox01 table th{ color: #fff; font-weight: normal; line-height: 3rem;}
.tablebox01 table th:nth-child(2n+1){ background-color: #f17712;}
.tablebox01 table th:nth-child(2n){ background-color: #fcb200;}
.tablebox01 table td{ line-height: 3rem; font-size: 1rem; padding: 0.2rem 0.5rem; border-bottom: 1px solid #f5f5f5}
.tablebox01 table td:nth-child(2n+1){ color: #f17712; border-right: 1px solid #f5f5f5; width: 52%;}
.tablebox01 table td:nth-child(2n){text-align: right; color: #888888;}
.tablebox01 table tr{ border: 1px solid #f5f5f5;}
.tablebox01 table tr:nth-child(2n+1){ background-color: #ececec;}
.listNews01{ padding: 0 2rem; padding-bottom: 2rem;}
.listNews01 .iconfont{ color: #f17712; padding-right: 1rem;}
.listNews01 li{ font-size: 1.4rem; color: #666666; padding: 0.3rem 0; line-height: 1.6rem;}
.listNews02 {  padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items:stretch;

}
.listNews02 ul{width: 40%; padding: 1rem;  }
.listNews02 ul .icon{ border: 0.2rem solid #f17712; height:7rem; width: 7rem; line-height: 7rem; text-align: center; border-radius: 50%; margin: auto;}
.listNews02 ul .icon .iconfont{ font-size: 5rem; color: #f17712;}
.listNews02 ul .title{ font-size:2rem; line-height: 4rem; text-align: center;}
.listNews02 ul .text{ font-size: 1.2rem; color: #525252; line-height:1.6rem;}

.listNews03{ padding:0 2rem; position: relative;height: 16rem;}
.listNews03 .list{ display: flex; position: absolute; width: 90%; }
.listNews03 .list .sz{ margin: auto;color: #fff; background-color: #ff801a; width: 4rem; line-height: 4rem; height: 4rem; text-align: center; font-size: 3rem; border-radius: 50%;}
.listNews03 .list ul{ padding: 0 0.2rem;}
.listNews03 .list ul .title{ text-align: center;   line-height: 3rem;}
.listNews03 .list ul .text{ font-size: 1.2rem;color: #525252; }
.listNews03 .redLine{border-bottom: 0.3rem  solid #ff801a; position: absolute; width: 90%; top:2rem; }



.listNews04 {  padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items:stretch;

}
.listNews04 ul{width: 40%; padding: 1rem;  }
.listNews04 ul .icon{ border: 0.2rem solid #ececec; height:7rem; width: 7rem; line-height: 7rem; text-align: center; border-radius: 50%; margin: auto;}
.listNews04 ul .icon .iconfont{ font-size: 5rem; color: #f17712;}
.listNews04 ul .title{ font-size:1.6rem; line-height: 3rem; text-align: center;}
.listNews04 ul .text{ font-size: 1.2rem; color: #525252; line-height:1.6rem;}
.listNews04 ul img{ width: 100%; border-radius: 50%;}

.listNews05{ padding: 0 2rem;}
.listNews05 span{ display: block;}
.listNews05 .icon{ color: #f17712; font-size: 3rem; padding-right: 1rem;}
.listNews05 ul{ display: flex; padding-bottom: 2rem;}
.listNews05 .title{ line-height: 3rem; font-size:1.5rem;}
.listNews05 .txt{ font-size: 1.2rem; color: #888888;}

.listNews06{ padding: 0 2rem;}
.listNews06 .title1{ color: #f17712; font-size: 2rem; line-height: 3rem;}
.listNews06 .title2{ font-size:1.8rem; line-height: 2.6rem;}
.listNews06 .txt{ color: #888888; line-height: 1.8rem; padding-bottom: 1rem;}
.listNews06 .contact span{ display: block; line-height: 2rem; font-size: 1.6rem;}
.listNews06 .contact{ padding-bottom: 3rem;}
.listNews06 .contact .iconfont{ padding-right: 1rem; color: #f17712;}
/*商品详情 结束*/


.footbtn02{position: fixed; background-color: #f8f8f8; width: 100%; border-top: 1px solid #cdcdcd; bottom: 0px;}
.footbtn02{height:5rem; }
.footbtn02 li{line-height: 5rem; position: relative;}
.footbtn02 a{ width: 50%; float: left; display: block; height: 5rem; line-height: 5rem; text-align: center; text-decoration: none; color: #fff;}
.footbtn02 .btnleft{background-color: #949494;}
.footbtn02 .btnleft:hover{background-color: #4b4b4b;}
.footbtn02 .btnleft:active{background-color: #4b4b4b;}

.footbtn02 .btnright{background-color: #ff7043;}
.footbtn02 .btnright:hover{background-color: #fb8c00;}
.footbtn02 .btnright:active{background-color: #fb8c00;}


.footbtn03{position: fixed; background-color: #f8f8f8; width: 100%; border-top: 1px solid #cdcdcd; bottom: 0px;height:5rem;}
.footbtn03 li{line-height: 5rem; position: relative;}
.footbtn03 ul{ display: flex;}
.footbtn03 a{display: block; height: 5rem; line-height: 5rem;}
.footbtn03 .icon{width: 20%; text-align: center; color: #414141;}
.footbtn03 .icon i{ font-size: 2.4rem;}
.footbtn03 .btn01{ width: 40%; text-align: center; background-color: #ffc301; color: #fff;}
.footbtn03 .btn02{ width: 40%;text-align: center;background-color: #ff7043;color: #fff;}
