body{
	background: #f3f3f3;
}
.dutiable-text{
	height: 1rem;
	background: #f3f3f3;
}
.dutiable-conten{
	margin-left: 1.4rem;
	font-size: 1.5rem;
}
.orange{
	color: #f7ad71;
}
.dutiable-hint{
    margin-left: 2rem;
    color: #b1b1b1;
    font-size: 1.2rem;
}
.fx-span-right{
	color: #f17712;
}
.fa-angle-right{
	transform: rotate(0deg);
	margin-left: 0.8rem;
}
.fx-conten{
	margin-top: 1rem;
}