input{
	border: none;
}
.wrapper{
	/*padding-top: 2rem;*/
}
.index-content{
	padding: 1rem 1.2rem;
	border-bottom: 0.1rem solid #f3f3f3;
}
.col-xs-6,.col-xs-3{
	padding: 0;
}
.fc-color-orange{
	border: 0.1rem solid #f17712;
	border-radius: 0.8rem;
	text-align: center;

}
.navHead .navTop span{ width:1.5rem; height:1.2rem; line-height:1.2rem; background:#ffe117; border-radius:50%; font-size:0.6rem; position:absolute; right:0.6rem; top:0.2rem; color:#f17712; text-align:center;}
.navTop a.daib span{ color:#e25704;}
