
/* CSS Document */

html{font-size:62.5%;}
body{font-size:1.8rem;  padding:0px; margin:0px;}
*{padding:0px; margin:0px; list-style-type:none;font-family:"Microsoft YaHei"}
a{ text-decoration:none;}
.fa{ display:inline-block; text-align:center;}
input{outline:none;}
.black{ background-color:#fff;}
.grayBg{ background-color:#f1f1f1;}
/* 个人信息 */
.navBt{text-align:center; height:3.8rem; line-height:3.8rem;font-size:2rem; background:#242328; color:#fff;}
.navBt i{font-size:3rem; position:absolute; width:3.8rem;height:3.8rem; line-height:3.6rem; left:0rem; cursor:pointer; transform:0.5s;}
.navBt b{font-size:2.6rem; position:absolute; height:3.8rem; line-height:3.6rem; right:1.4rem; cursor:pointer; transform:0.5s;}
.navTop i{font-size:2.8rem; position:absolute; width:4rem;height:4rem; line-height:3.6rem; left:0rem; cursor:pointer; transform:0.5s;}
.navTop{text-align:center; height:4rem; line-height:4rem;font-size:2rem; background:#f17712; color:#fff; margin-bottom:0rem;}
.userPhoto{display:inline-block;}
.userPhoto li{width:4.6rem; height:4.6rem; background-color:#FFF; border-radius:50%; overflow:hidden; border:0.1rem solid #fff;}
.userPhoto li img{ vertical-align:middle;}
.navMo{border-bottom:1px solid #e8e8e8;background-color:#fff; padding:0.4rem 1rem;}
.user{display:inline-block; color:#444444; position:absolute; margin-left:1rem;}
.user .name{font-size:1.6rem; height:4.6rem; line-height:4.6rem; }
.listdiv ul a{border-bottom:1px solid #e8e8e8; height:4rem; line-height:4rem; text-decoration:none; color:#444444; display:block; font-size:1.6rem; background-color:#fff; transition:0.5s;}
.listdiv ul a:hover{ background-color:#f9f9f9;}
.listdiv ul a img{ vertical-align:middle; width:2.6rem; margin:0 1rem;}
.listdiv ul a span{ color:#b1b1b1; position:absolute; right:1.4rem;}
.listdiv ul a span i{ color:#b1b1b1; font-size:2.4rem; padding-left:1rem;}
.lable{ height:5rem; width:100%; background:#fff; border-top:0.1rem solid #e8e8e8; position:fixed; bottom:0; text-align:center;}
.lable ul li{ float:left; width:33.333%; font-size:1.2rem; color:#444; text-align:center;}
.lable ul li img{ width:2.6rem; margin:0.4rem 0 0 0;}
.lable ul .last-ch{ color:#f27616;}
/* 企业信息 */
.qyxdiv ul a{border-bottom:1px solid #e8e8e8; height:4rem; line-height:4rem; text-decoration:none; color:#444444; display:block; font-size:1.6rem; background-color:#fff; transition:0.5s; position:relative;}
.qyxdiv ul a:hover{ background-color:#f9f9f9;}
.qyxdiv ul a i{ font-style:normal; padding-left:1rem; display:inline-block; width:12rem;}
.qyxdiv ul a span{ color:#22222;}
/*.qyxdiv ul a img{ width:2rem; height:2rem; position:absolute; right:1.4rem; top:1rem;}*/
/* 任务-待办 */
.navTop a{ display:inline-block; color:#fff; width:7.6rem; /*border:0.1rem solid #d04e00;*/ height:2.8rem; line-height:2.8rem; border-radius:0.2rem; position:relative;}
.navTop a.daib{ background:#d04e00;}
.qyxdiv ul li{border-bottom:1px solid #e8e8e8; color:#444444; font-size:1.6rem; background-color:#fff; transition:0.5s; padding:1.2rem 1.4rem 1.2rem 1rem; position:relative;}
.qyxdiv ul li div{ line-height:2rem; white-space:nowrap; text-overflow:ellipsis; margin-right:1.6rem; overflow:hidden;}
.qyxdiv ul li div:nth-child(2){ color:#999; font-size:1.4rem;}
.qyxdiv ul li span{color:#999; font-size:1.2rem; position:absolute; right:3rem; top:0.5rem;}
.qyxdiv ul li i{ color:#b1b1b1; font-size:2.4rem; position:absolute; right:1.4rem; top:2rem; }
.qyxdiv ul li:hover{ background-color:#f9f9f9;}
.navHead .navTop span{ width:1.2rem; height:1.2rem; line-height:1.2rem; background:#ffe117; border-radius:50%; font-size:0.6rem; position:absolute; right:0.8rem; top:0.2rem; color:#f17712; text-align:center;}
.navTop a.daib span{ color:#e25704;}
.lable .last-ch div{}
.lable .last-ch span{ width:1.2rem; height:1.2rem; line-height:1.2rem; background:#e25704; border-radius:50%; font-size:0.6rem; color:#fff; text-align:center; position:relative; display:inline-block; top:-4.8rem; right:-1.8rem;}
/* 任务-消息 */
.xxDiv{border-bottom:1px solid #e8e8e8; color:#444444; font-size:1.6rem; background-color:#fff; transition:0.5s; padding:1.2rem 1.4rem 1.2rem 1rem; position:relative;}
.xxDiv .xxDivl{ position:absolute; left:1rem; }
.xxDiv .xxDivr{ padding-left:5rem;}
.xxDiv .xxDivl img{ width:4rem; height:4rem; vertical-align:middle; position:relative;}
.xxDiv .xxDivl span{ display:block; width:1rem; height:1rem; border-radius:50%; background:#f15353; position:absolute; left:3.6rem; top:-0.4rem;}
.xxDiv .xxDivr div{line-height:2rem; white-space:nowrap; text-overflow:ellipsis; margin-right:1.6rem; overflow:hidden;}
.xxDiv .xxDivr div:nth-child(2){ color:#999; font-size:1.4rem;}
.xxDiv .xxDivr div:nth-child(3){ color:#999; font-size:1.4rem;}
.xxDiv .xxDivr span{color:#999; font-size:1.2rem; position:absolute; right:3rem; top:0.5rem;}
.xxDiv .xxDivr i{ color:#b1b1b1; font-size:2.4rem; position:absolute; right:1.4rem; top:2rem; }
.xxDiv:hover{ background-color:#f9f9f9;}
/* 服务门店 */
.navHead{position:relative;}
.navTop img{ width:2rem; height:2rem; position:absolute; right:-5.6rem; top:1rem;}
.fwmd .fwmd1 img{ width:7.2rem; height:6rem; border-radius:0.4rem;}
.fwmd .xxDivr{ padding-left:8.2rem}
.fwmd .xxDivr i{ color:#b1b1b1; font-size:2.4rem; position:absolute; right:1.4rem; top:3rem; }

/*登录*/
.dengLu ul a i{ font-style:normal; padding-left:1rem; display:inline-block; width:7.2rem;}
.dengLu ul a span{ color:#c9c9c9;}
.dengLu ul a b{ border:0.1rem solid #f17712; border-radius:0.3rem; color:#f17712; font-weight:normal;background:#fff; position:absolute; right:1.4rem; top:0.5rem; display:block; width:8.2rem; height:2.8rem; line-height:2.8rem; text-align:center;}
.login{ width:93%; height:4.2rem; line-height:4.2rem; text-align:center; margin:2rem auto; background:#f17712; color:#fff; font-size:2rem; border-radius:0.4rem; cursor:pointer;}
.login_none{ width:93%; height:4.2rem; line-height:4.2rem; text-align:center; margin:2rem auto; background:#dadada;; color:#fff; font-size:2rem; border-radius:0.4rem; cursor:pointer;}
.login:hover{ background:#e26f10;}

.address{ height:5rem; width:100%; background:#fff; border-top:0.1rem solid #e8e8e8; position:fixed; bottom:0; text-align:center;}
.address ul li{ float:left; width:50%; font-size:1.6rem; color:#444;}
.address ul li div{line-height:5rem; }
.address ul li .navdh{border-right:0.1rem solid #e8e8e8; width:100%; height:5rem;}
.address ul li img{ width:3rem; height:3rem; vertical-align:middle; padding-right:0.5rem;}
.navsou{ position:relative;}
.navtit{ position:absolute; width:100%;}
.navMidd{ height:5.2rem; width:90%; background:#fff; border-radius:0.4rem; margin:auto; box-shadow:0.05rem 0.08rem 0.4rem #d4d4d2; line-height:5.2rem;position:relative;}
.navMidd input{ height:3rem; line-height:3rem; border:0; padding-left:3rem; color:#999; width:60%;}
.navMidd i{ color:#717171; font-size:3.4rem; width:3.8rem; height:5.2rem; line-height:5.2rem; position:absolute;}
.navMidd b img{ width:2.4rem; height:2.4rem; position:absolute; right:6rem; top:1.3rem;}
.navMidd span img{ width:2.4rem; height:2.2rem; position:absolute; right:1rem; top:1.5rem; border-left:0.1rem solid #e8e8e8; padding-left:0.8rem;}
.map{ width:100%; height:80%;}
.map>img{ width:100%; height:100%;}
.juli{ padding:1rem 0 0 1rem; color:#444;}
.juli p{ line-height:2rem;}
.juli p:nth-child(2){ font-size:1.6rem; color:#666;}
.map .dingw{ width:4rem; height:4rem; border-radius:0.4rem; background:#fff; border:0.1rem solid #e8e8e8; position:absolute; bottom:1.6rem; left:1.6rem;}
.map .dingw img{ width:3rem; height:3rem; padding:0.5rem;}
.map .bigli{ width:4rem; height:8.2rem; border-radius:0.4rem; background:#fff; border:0.1rem solid #e8e8e8; position:absolute; bottom:1.6rem; right:1.6rem;}
.map .bigli img{ width:3rem; height:3rem; padding:0.4rem;}
.map .bigli div:nth-child(1){ border-bottom:0.1rem solid #e8e8e8;}
