/**
*选择城市的全局样式添加
*/
.blockshow li,
.blockshow ul {
    display: block !important;
}
.mint-toast {
    z-index: 99999;
}
.mint-indexlist > ul {
    margin-bottom: -7rem;
}
.custom-filed .mint-cell-title {
    width: 7rem;
}
/* 覆盖页面，用于嵌套路由 */
.overlay-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #f3f3f3;
}
/* CA表格 */
.ca_table {
    background-color: white;
    width: 100%;
    margin-bottom: 10rem;
}
.ca_table th {
    color: #ff9800;
}
.ca_table th:nth-child(1) {
    width: 35%;
}
.ca_table th,
.ca_table td {
    font-weight: normal;
    padding: 1rem 1rem 1rem 2rem;
    border: 1px solid #ddd;
    border-top: none;
    border-right: none;
}
.ca_table {
    background-color: white;
    width: 100%;
}
.ca_table th {
    color: #ff9800;
}
.ca_table th:nth-child(1) {
    width: 35%;
}
.ca_table th,
.ca_table td {
    font-size: 1.3rem;
    font-weight: normal;
    padding: 1rem 1rem 1rem 2rem;
    border: 1px solid #ddd;
    border-top: none;
    border-right: none;
}
.ca_table td {
    color: #757575;
}
/* ca mint-tab */
.ca-scroller {
    height: 60rem;
    height: 90vh;
    overflow: auto;
}
.cus-nav-bar.mint-navbar {
    border-bottom: 2px solid #ccc;
}
.cus-nav-bar.mint-navbar .mint-tab-item.is-selected {
    border-bottom: 2px solid #ff7043;
    color: #ff7043;
}
.mint-cell.mint-field.custom .mint-cell-title {
    width: 4rem;
    padding-right: 1rem;
}
.mint-cell.mint-field.custom input[disabled] {
    background-color: #fff;
}
.cus-mt-button {
    background-color: #ff7043;
    border-radius: 0;
}
.cus-mt-button label {
    color: #fff;
    font-weight: normal;
}

.cus-mt-button-zt {
    background-color: #f17712;
    border-radius: 0;
    padding: .8rem;
    height: 6rem;
}
.cus-mt-button-zt label{
    color: #fff;
    font-size: 1.8rem;
    font-weight: normal;
    margin-bottom: 0;
}

.custom-rating > .star-rating {
    width: 100%;
    justify-content: space-around;
}
.zt-page{
    border-top: 1px solid #ddd;
}
