.fx-content-list img {
	width: 4.6rem;
	height: 4.6rem;
	background-color: #FFF;
	border-radius: 50%;
	overflow: hidden;
	border: 0.1rem solid #fff;
	
}
.fx-content-list span{
	margin-left: 1rem;
}
.fx-content-list img {
	vertical-align: middle;
	
}
.fx-form-li img{
	width: 3rem;
}
.fx-form-li:last-child{
	margin: 1rem 0;
}
