body {
	background: #f3f3f3;
}

.tally-conten {
	margin-top: 1rem;
}

.tally-conten-text .row div {
	height: 8rem;
}

.text-ico {
	width: 7rem;
	height: 7rem;
	position: absolute;
	left: -1.2rem;
  top: 0.5em;
}

.tally-conten {
	margin-top: 1rem;
}

.text-flox {
	padding: 1.7rem 1.2rem 0 3.5rem;
	text-align:right;
	font-size: 1.5rem;
}
.text-flox p{
	font-size: 1.5rem;
}
.col-xs-6 {
	position: relative;
}
.text-flox .fc-color-orange{
	font-size: 1.3rem;
}
.tally-finally{
    left: 2rem;
}
.col-xs-6{
	padding: 0;
}
.fx-conten{
	margin-top: 1rem;
}
