/*我们的服务*/

.index {
	position: absolute;
	width: 100%;
}

.index-div {
	border-bottom: 1px solid #e8e8e8;
	color: #444444;
	font-size: 1.6rem;
	background-color: #fff;
	transition: 0.5s;
	padding: 1.2rem 1.4rem 1.2rem 1rem;
	position: relative;
}

.index-div .index-divl {
	position: absolute;
	left: 1rem;
}

.index-div .index-divr {
	padding-left: 8rem;
}

.index-div .index-divl img {
	width: 7rem;
	height: 6rem;
	vertical-align: middle;
	position: relative;
}

.index-div .index-divl span {
	display: block;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background: #f15353;
	position: absolute;
	left: 3.6rem;
	top: -0.4rem;
}

.index-div .index-divr div {
	line-height: 2rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-right: 1.6rem;
	overflow: hidden;
}

.index-div .index-divr div:nth-child(2) {
	color: #999;
	font-size: 1.4rem;
}

.index-div .index-divr div:nth-child(3) {
	color: #999;
	font-size: 1.4rem;
}

.index-div .index-divr span {
	color: #999;
	font-size: 1.2rem;
	position: absolute;
	right: 3rem;
	top: 0.5rem;
}

.index-div .index-divr i {
	color: #b1b1b1;
	font-size: 2.4rem;
	position: absolute;
	right: 1.4rem;
	top: 2rem;
}

.index-div:hover {
	background-color: #f9f9f9;
}